# Byte-compiled / optimized / DLL files
__pycache__/
.__pycache__
# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/*
.DS_Store
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


lib/data/*


.idea/

*.log

*.csv

lib/imputed_models/*
lib/data/*
imputed_modlels/*
imputed_modlels
old/*
data/*

.parquet
